<?php
define('DB_NAME', '{{ wordpress_db }}');
define('DB_USER', '{{ wordpress_dbuser }}');
define('DB_PASSWORD', '{{ wordpress_dbpass }}');
define('DB_HOST', 'localhost');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

//  Authentication Unique Keys and Salts. 
{{ lookup("pipe", "curl -s https://api.wordpress.org/secret-key/1.1/salt/") }}

// Database Table prefix 
$table_prefix = 'wp_';

// For developers: WordPress debugging mode.
define('WP_DEBUG', false);

// Absolute path to the WordPress directory.
if (!defined('ABSPATH')) {
    define('ABSPATH', dirname(__FILE__) . '/');
}


require_once(ABSPATH . 'wp-settings.php');
?>
